body{
     background-image: url("train.jpg");
     background-size: cover;
     text-align: center;
}
button{
    border: none;
     padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn{
    background:darkgoldenrod;
}
#save-btn{
    background: green;
}
#reset-btn{
    background: rebeccapurple;
}
h2{
    font-size: 30px;
}
p{
    font-size:30px;
}